.reviewWraper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: -20px;
  position: relative;
  &:first-child {
    margin-left: 0;

  }
}
.reviewImg {
  width: 77px;
  height: 77px;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid;
  filter: grayscale(100%);
  transition: filter 0.5s ease;
  margin-bottom: 5px;
  &:hover {
    filter: grayscale(20%);
  }
  &:active {
    filter: grayscale(20%);
  }
  &:focus {
    filter: grayscale(20%);
  }
}

.activeImg{
  filter: grayscale(20%);
}

