.benefitsTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: var(--secondContentColor);
  text-align: start;
  margin-bottom: 55px;
}

.benefitsList {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.benefitItem {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}
.benefitIcon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

}

.benefitTextWrapper {
  max-width: 260px;
  z-index: 5;
}
.benefitItemTitle {
  color: var(--secondContentColor);
  font-weight: 600;
  font-size: 24px;
  text-align: start;
  margin-bottom: 15px;
}

.benefitText {
  color: var(--secondContentColor);
  text-align: start;
  font-size: var(--textFontSize);
}

@media (min-width: 768px) {
  .benefitsList {
    max-width: 769px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2rem; /* відстань між блоками */
  }
}
