.header{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.socialContactWrapper{
    display: flex;
    gap: 38px;
}
.modalWraper{
    display: flex;
    align-items: center;
    gap:5px;
}
.mainHeaderWrapper{
    display: flex;
    align-items: center;
    gap: 10px
}