.header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 200;
}
.headerWrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 5;
  max-width: 0 auto;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background-color: rgba(226, 226, 226, 0.5);
}
.socialContactWrapper {
  display: flex;
  gap: 38px;
}
.modalWraper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.mainHeaderWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 860px) {
  .header {
    padding: 20px 0;
  }
   
}
@media (min-width: 375px) {
 
  .headerWrapper{
  padding: 0 16px;
}}
@media (min-width: 375px) {
 
  .headerWrapper{
  padding: 0 16px;
}}
@media (min-width: 768px) {
 
  .headerWrapper{
  padding: 0 40px;
}
}
@media (min-width: 1024px) {
 .headerWrapper {
    max-width: 1280px;
   
  }
}