.portfolioSection {
  position: relative;
}
.portfolioSlider {
  width: 100%;
  max-width: 1240px;
  overflow: hidden;
}

.slide {
  max-width: 500px;
  overflow: hidden;
}

.navWrapper {
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
    max-width: 250px;


}
.customPagination {
  display: flex;
  justify-content: center;
  flex: 1; /* займає простір між кнопками */
  gap: 8px;
  z-index: 10;
}

@media (min-width: 768px) {
  .portfolioSlider {
    width: 100%;
    max-width: 1240px;
    overflow: visible;
  }
  .navWrapper {
    margin-top: 50px;
    max-width: 320px;




 
  }
}
@media (min-width: 1024px) {
   :global(.swiper-pagination-bullet) {
    width: 20px;
    height: 20px;
    z-index: 10;
  }

  .navWrapper {
    max-width: 400px;
  }
}
