.portfolioSection {
  position: relative;
}
.portfolioSlider {
  width: 100%;
  max-width: 1240px;
  overflow: hidden;
}

.slide {
  max-width: 500px;
  overflow: hidden;
}

@media (min-width: 768px) {
 
 .portfolioSlider {
  width: 100%;
  max-width: 1240px;
  overflow: visible;
}
}