.consentWrapper {
    font-size: 14px;
  max-width: 520px;
  width: 100%;
  padding: 14px 18px;
  gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #3b82f6, #0ea5e9);
  color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
transform: translateY(-25px);
}
.consentBtnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.accept {
  width: 16px;
  height: 16px;
  fill: green;
}

.decline {
  width: 14px;
  height: 14px;
  fill: red;
}

@media (min-width: 768px) {
    .consentWrapper {
   font-size: 16px;
        justify-content: space-between;
        align-items: center;
        transform: translateY(75px);
    }
    .accept {
  width: 18px;
  height: 18px;
  fill: green;
}

.decline {
  width: 16px;
  height: 16px;
  fill: red;
}

}

@media (min-width: 1024px) {
    .consentWrapper {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transform: translateY(110px);
    }
    .consentBtnWrapper {
  
  gap: 15px;
}

}