
.privateOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
background:  linear-gradient(
    246.04deg,
    rgba(0, 36, 46, 0.6) 3.77%,
    rgba(0, 111, 186, 0.6) 99.15%
  );;
 backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* для Safari */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.privateOverlayActive {
  transform: translateY(0);
  opacity: 1;
}

.privateContent {
display: flex;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  margin:auto 0;

  

}

