.heroTitle {
  width: 100%;
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 50px;
  gap: 18px;
}

.heroText {
  font-size: 14px;
  max-width: 320px;
  text-align: start;
}

@media (min-width: 375px) {
  .heroTitle {
    font-size: 48px;
  }
  .heroTitleContent2 {
    margin-left: 20px;
  }
  .heroTitleContent3 {
    margin-left: 95px;
    width: 100%;
  }
}
