.portfolioSwiperWrapper{
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}
.portfSwiper {
  width: 100%;
  max-width: 350px; /* або потрібне значення */
  overflow: hidden;
}

.portfSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;       /* займає всю ширину контейнера */
    /* можеш поставити будь-яке */
}

.portfIteam img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 20px auto 0 auto;
  max-width: 400px;
}

.customPagination {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 8px;
  max-width: 100%;
}

.customPagination :global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #0066ff;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
  transform: scale(0.8);
}

.customPagination :global(.swiper-pagination-bullet-active) {
  background: #0066ff;
  transform: scale(1);
}
@media (min-width: 768px) {
  .portfSwiper {
    max-width: 700px;
    width: 100%;
  }
  .portfSlide {
  width: 400px;
}
}
@media (min-width: 1024px) {
  .navWrapper {
    max-width: 500px;

    z-index: 100;
    width: auto;
  }
  .customPagination {
    margin: 0;
    width: 100%;
    max-width: 300px;
  }
  .customPagination :global(.swiper-pagination-bullet) {
    width: 20px;
    height: 20px;
  }
  .portfSwiper {
   width: 100%;
  max-width: 1200px; /* щоб Swiper не вилітав за межі контейнера */
  margin: 0 auto; /* прибрати ліміт */
  }
  .portfSlide {
 flex-shrink: 0;
  width: auto;       /* ❌ не 100% */
  max-width: none;   /* знімаємо обмеження */
};
}
