.burgerWrapper {
  
  display: flex;
  position: relative; 
  top: 0;
  right: 0;
  cursor: pointer;
 z-index: 1100 ;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 999 ;
  
background:  linear-gradient(
    246.04deg,
    rgba(0, 36, 46, 0.6) 3.77%,
    rgba(0, 111, 186, 0.6) 99.15%
  );
 backdrop-filter: blur(8px) ;
  -webkit-backdrop-filter: blur(8px); /* для Safari */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.modalOverlayActive {
  transform: translateY(0);
  opacity: 1;
}

.modalContent {
display: flex;
  padding: 20px 30px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  margin:auto 0;

  

}
.modalNavList{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  font-size: 25px;

}

