
.herroContainer{
    display: flex;
    padding: 71px 0 0;;
    flex-direction: column;
    align-items: start;
}
.titleWrap{
  display: flex;
  flex-direction: column;
gap: 85px;
  width: 100%;
}



@media (min-width: 768px) {
  .herroContainer{
     padding-top: 83px;
       flex-direction: row;
       justify-content: space-between;
  }
  
}


