.oferContainer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.oferTitle {
  color: var(--secondContentColor);
  font-family: Inter;
  font-weight: 600;
  font-size: 40px;
  text-align: start;
  margin-bottom: 30px;
}
.oferText {
  color: var(--secondContentColor);
  font-size: 16px;
  text-align: start;
  margin-bottom: 30px;

}

.oferButton{
  color: var(--secondContentColor);
  border: 1px solid var(--secondContentColor);
  width: 100%;
  overflow: hidden;
}
.oferButton:hover{

  color: var(--secondContentColor);
  transition: 0.3s;
}


