
.oferSwiper {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 310px;
  overflow: hidden; /* щоб не розлазилось на дуже великих екранах */
}

.oferSlide {
  max-width: 310px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(6, 148, 255, 1) 0%,
    rgba(3, 81, 141, 1) 100%
  );
  box-shadow: inset 0px 30.19px 30.19px rgba(7, 157, 255, 1),
    inset 0px -30.19px 30.19px rgba(3, 71, 124, 1) 0px 61.47px 122.93px rgba(1, 24, 42, 0.52);
  border-radius: 30px;
  padding: 38px 35px;
}
.navWrapper {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
  width: 200px;
}

.customPagination {
  display: flex;
  justify-content: center;
  flex: 1; /* займає простір між кнопками */
  gap: 8px;
}

.customPagination :global(.swiper-pagination-bullet) {
  width: 12px;
  height: 12px;
  background: transparent;
  border: 1px solid #0066ff;
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s ease;
  transform: scale(0.8);
}

.customPagination :global(.swiper-pagination-bullet-active) {
  background: #0066ff;
  transform: scale(1);
}

@media (min-width: 768px) {
  .oferSwiperWrapper {
    position: relative;
    overflow: visible;
    height: 900px;
  }
  .oferSwiper {
    overflow: visible;
    max-width: 730px;
  }
  .navWrapper {
    margin-left: auto;
    margin-right: 70px;
  }

  

  .oferSlide {
    max-width: 348px;
    width: auto;
    padding: 50px 40px;
    z-index: 50;
    position: relative;
    max-height: 450px; /* стандартна висота */
    transform: scale(0.9); /* початковий масштаб для неактивних слайдів */
    transition: transform 0.5s ease, max-height 0.5s ease, z-index 0.5s ease;
  }

  .oferSlideActive {
    top: 0;
    left: 0;
    max-height: 900px; /* висота активного слайду */
    width: 100%;
    z-index: 50; /* активний поверх інших */
    transform: scale(1); /* повний масштаб */
    transition: transform 0.5s ease, max-height 0.5s ease, z-index 0.5s ease;
  }
}
@media (min-width: 1024px) {
  

  

  
}
