.sctollBtnWrapper{
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 1000;
}

.scrollBtn{
    width: 50px;
    height: 50px;
    fill: #000000;
    transition: fill 0.3s ease;
}
.scrollBtn:hover{
    fill: #ff6600;
}