.sctollBtnWrapper{
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    
}

.scrollBtn{
    width: 50px;
    height: 50px;
    fill: #01133b;
    transition: fill 0.3s ease;
}
.scrollBtn:hover{
    bottom: 50px;
}
.scrollBtn:active{
    bottom: 50px;
}

@media (min-width: 768px) {
    .sctollBtnWrapper{
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    
}

}