#root {
  text-align: center;
  margin: 0 auto;
}
.bodyWrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px;
}
.headerHerroWrapper {
  background-image: url("/img/background/imgbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.scrollUpBtn{
  opacity: 0;
}

@media (min-width: 768px) {
  .headerHerroWrapper {
    width: 100vw;
  }
  .container {
    padding: 0 30px;
  }
.scrollUpBtn {
  position: fixed;
  right: 20px;
  bottom: 20px;                 /* фінальна позиція */
  transform: translateY(120px); /* схована знизу */
  opacity: 0;
  pointer-events: none;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

.scrollUpBtnActive {
  transform: translateY(0);     /* виїжджає вгору */
  opacity: 1;
  pointer-events: auto;
}
  
}

@media (min-width: 800px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }

  .swiper-pagination {
    left: auto !important;
    right: 55px;
    position: static;
  }
}
