#root {
  text-align: center;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
 margin: 0 auto;
  padding: 0 1rem;

}
.headerHerroWrapper{

  background-image: url('../public/img/background/imgbackground.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
width: 100vw;



}
@media (min-width: 375px) {
 
  .container{
  padding: 0 2rem;
}
}
@media (min-width: 1024px) {
 .container {
    max-width: 1280px;
   
  }
}
