#root {
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 16px;
}
.headerHerroWrapper {
  background-image: url("/img/background/imgbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
}


@media (min-width: 768px) {
  .headerHerroWrapper {
    width: 100vw;
  }
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 900px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
  }

  .swiper-pagination {
    left: auto !important;
    right: 55px;
    position: static;
  }
}
