:root {
  height: 100%;
  width: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mainBackground: #FBFCFF;
  --mainFontFamily: Inter, sans-serif;
  --secondFontFamily: Konkhmer Sleokchher;
  --mainFontHeight: 400;
  --textFontSize: 16px;
  --formFontSize: 16px;
  --textLineHeight: 1.2;
  --mainContentColor: #F5F5F5;
  --secondContentColor:#130F20; 
  --iconsColor: #DCDCDC;
  --buttonColor: #FBFCFF;
  --featuresFortFamily: Onest, sans-serif;
  --footerNavColor: #626068;
  --footerNavSize: 14px;
  --benefitsAnimationLineStart: 0 ;
  --benefitsAnimationLineEnd: 0 ;
}
.LSloader.loader{
  position: fixed !important; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
html{
  overflow-x: hidden;
}
body {
  overflow: hidden; 
  background: var(--mainBackground);
  font-family: var(--mainFontFamily);
  font-weight: var(--mainFontHeight);
  line-height: var(--textLineHeight);
  letter-spacing: normal;
  color: var(--mainContentColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}



/* ------Reset css----------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
 list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
a{
    cursor: pointer;
  text-decoration: none;
  color: inherit;
}
button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none;
}

input,
textarea,
select {
  font-size: 16px;
}
.no-scroll {
  overflow-y: hidden;
  height: 100vh;
}
.loader{
 margin: auto;
}
.hidden{
  display: none;
}