:root {
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --mainBackground: linear-gradient(246.04deg, #00242e 3.77%, #006fba 99.15%);
  --mainFontFamily: Inter, sans-serif;
  --mainFontHeight: 400;
  --textFontSize: 16px;
  --textLineHeight: 1.2;
  --mainContentColor: rgba(255, 255, 255, 1);
}

body {
  background: var(--mainBackground);
  font-family: var(--mainFontFamily);
  font-weight: var(--mainFontHeight);
  line-height: var(--textLineHeight);
  letter-spacing: normal;
  color: var(--mainContentColor);
}

/* ------Reset css----------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
