.slideWraper{
  height: 100%;
}

.oferTitle {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
line-height: 32px;

}

.featuresList {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 26px;
  margin-bottom: 20px;
}

.featurIteam {

  font-weight: 400;
  font-style: Regular;
  font-size: var(--textFontSize);

  line-height: 24px;
  position: relative;
}

.featurIteam::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--mainContentColor);
    border-radius: 50%;
  left: -15px;
  top: 10px;

}

.oferPrice {
  
  position: relative;
}

.oferPrice::after {
  content: "";

  display: flex;
  display: block;
  width: 200px;
  text-align: center;
  height: 1px;
border: 0.5px solid rgba(251, 252, 255, 0.4);
  margin: 20px auto 20px auto;
}
.oferTermin{
    font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

@media (min-width: 768px) {
  .priceInfo{
  display: none;

}
.priceInfoActive{
  display: block;}
}