.contactWrapper {
  background: linear-gradient(
    357.72deg,
    rgba(0, 36, 46, 0.9) -35.7%,
    #006fba 87.12%
  );
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 110px;
}
.contactTitle {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 26px;
  text-align: start;
}

.contactText {
  text-align: start;
  max-width: 470px;
}

@media (min-width: 1024px) {
  .contactTitle {
    font-size: 48px;
  }
  .contactText {
    text-align: start;
    max-width: 630px;
  }
}

@media (min-width: 1024px) {
  .contactWrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contactTitle {
    font-size: 96px;
  }
  .contactText {
   font-size: 20px;
   
  }
}
