.contactWrapper {
  position: relative;
  background: linear-gradient(
    357.72deg,
    rgba(0, 36, 46, 0.9) -35.7%,
    #006fba 87.12%
  
  );
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.contactTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 90%;
  margin-bottom: 30px;
  text-align: start;
}

.contactText {
 font-size: var(--textFontSize);
  text-align: start;
  max-width: 470px;
}
.contactLogo {
  margin: 0 auto;
  width: 100%;
  max-width: 132px;
  height: 75px;
  fill: #006fba;
}
.contactGears {
  display: none;
}

@media (min-width: 768px) {
  .contactWrapper {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .contactTitle {
      position: relative;
      margin-bottom: 40px;
    font-size: 48px;
        z-index: 100;

  }
  .contactText {
      position: relative;
    text-align: start;
    max-width: 630px;
        z-index: 100;
  }
   .contactLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
  }
  .contactGears { 
    display: block;
    position: absolute;
    max-width: 290px;
    top:0;
    right: -140px ;
   
}

}

@media (min-width: 1024px) {
  .contactWrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contactTitle {
     position: relative;
    font-size: 75px;
    margin-bottom: 62px;
        z-index: 100;

  }
  .contactText {

   font-size: 18px;
  
  }
  .contactLogo{

    width: 475px;
    height: 250px ;
    
}
.contactGears { 
   
    right: -100px ;
}
}

@media (min-width: 1550px) {
 .contactWrapper {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contactTitle {
    
    font-size: 96px;
 
      

  }
  .contactText {

   font-size: 20px;
  
  }
  .contactLogo{

    width: 475px;
    height: 250px ;
    
}

}