.socIconsList {
  display: flex;
  gap: 23px;
  align-items: center;
}
.svg {
  width: 45px;
  height: 45px;
  fill: var(--iconsColor);
  display: block;
  transition: fill 0.5s ease;
  &:hover {
    fill: var(--mainContentColor);
  }
}

.socIconsListModal {
  margin-bottom: 50px;
}

.svgModal {
  width: 45px;
  height: 45px;
  fill: currentColor;
  display: block;
  transition: fill 0.5s ease;
}
