.socIconsList {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.svg {
  width: 24px;
  height: 24px;
  fill: var(--iconsColor);
  display: block;
  transition: fill 0.5s ease;
  color: #1e1e1e;
}
.svg:hover {
  fill: var(--mainContentColor);
}

.socIconsListModal {
  margin-bottom: 50px;
}

.svgModal {
  width: 45px;
  height: 45px;
  fill: var(--iconsColor);
  color: var(secondContentColor);
  display: block;
  transition: fill 0.5s ease;
}

@media (min-width: 1024px) {
  .socIconsList {
    gap: 16px;
  }
  .svg {
    width: 28px;
    height: 28px;
  }
}
